$bg-color: #dcc7aa;
$font-family: Arial, sans-serif;
$box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);

$margin-small: 4px;
$margin-sm: 8px;
$margin-medium: 12px;
$margin-large: 20px;

$padding-small: 4px;
$padding-sm: 8px;
$padding-medium: 12px;
$padding-large: 20px;
